@import '../sass/color.scss';
@import '../sass/font.scss';
@import '../sass/mediaquery.scss';

.homeimage {
    width: 100%;
    height: auto;
}

.homeimageContainer {
    display: none;
    transition-duration: 1s ease-in;
    background-color: transparent;

    &.activeimage {
        display: block;
        transition-duration: 1s;
    }
}

.slideContainer {
    display: flex;
    justify-content: center;
    gap: 2vw;
    max-width: 100%;
    position: relative;
    bottom: 35px;
    margin-top: 0;
}

.slide {
    display: inline-block;
    color: transparent;
}

.slide,
button {
    width: 3vw;
    height: 3px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: $floralwhite03;
}

.active {
    width: 4vw;
    background-color: $floralwhite;
}